{% extends 'base.html.twig' %}



{% block body %}
{% block title %}new title for all{% endblock title %}


<div>
<strong>show all messages</strong>
{% if messages|length > 0 %}
{% for key, message in messages|slice(0, limit) %}
    <a href="{{path('app_show_one', {id:key})}}">
{{message.message}}
    </a>
    {{ include('hello/_message.html.twig', {message: message}) }}
{% endfor %}
{% else %}
<p>there is nothing to see here</p>
{% endif %}


</div>

{% endblock %}